/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* GAME */
body {
	background-color: #093E42;
}
#page {
	width: 1570px;
	height: 100%;
	
	margin: auto;
}

#game, #logs, #info {
	width: 750px;
	height: 750px;
	
	margin: 15px;
	
	float: left;
	position:relative;
	
	color: #D9D8C4;
	background-color: #6C6E6E;
	border: 1px solid #1B7172;	
}

/* =============================== GAME =============================*/
#game canvas {
	width: 100%;
	height: 100%;
	position:absolute;
}

/* =============================== INFO =============================*/
#info {
	width: 730px;
	height: 546px;
	
	padding: 10px;

	font-family: Monospace;
	font-size: 11px;
	
	background-color: #093E42;
}
#info .data-box {
	width: 100%;
	
	border-bottom: 1px solid #1B7172;
}
#info .data-box + .data-box {
	margin-top: 10px;
}
#info .data-box  h2 {
	display: inline-block;
	
	font-size: 16px;
	font-weight: bold;
}
#info .data-box  .data{
	height: 12px;
	
	margin: 5px;
	
	display: inline-block;
	
	position: relative;
	
	border-bottom: 1px solid #1B7172;
	
	cursor:pointer;
}
#info .data-box  .data:hover {	
	color:#fff;
	
	z-index:1000;
}
#info .data-box  .data:hover span {
	display: block;
	
	background-color: #6C6E6E;
	border: 1px solid #1B7172;	
}
#info .data-box  .data span{
	display:none;
	
	position: absolute;
	top:12px;
	right:-150px;
}
/* =============================== LOGS =============================*/
#logs {
	width: 730px;
	height: 130px;
	
	padding: 10px;

	font-family: Monospace;
	font-size: 11px;
	
	overflow-y: scroll;
}

#logs p:hover {
	background-color: #1B7172;
}

#logs p.alert {
	color: #8A2F38;
}

#logs p.warning {
	color: #BAB765;
}

#logs p.notice {
	color: #94C0D6;
}

.clearer {
	clear: both;
	width: 100%;
}